*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.button {
  margin-left: 3%;
  margin-bottom: 2%;
  left: 10%;
  background-color: #ad9854; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form{
  text-align:left;
}
.row{
  padding-left: 25%;
  border: 3px solid;
  padding: 1%;
  margin: 3%;
}
.row > .column > p {
  font-size: 20px;
  font-weight: bold;
}
#menu {
  background-color: #ad9854;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align:right;
}
#menu > ul > li {
   display: inline;
   padding-right:2%;
   font-size: 17px;
   font-family: Arial;

}
#menu > ul > li:first-child {
  float: left;
  padding-left: 2%;
}
#menu > ul {
   padding-right:2%;
}
#menu > ul > li > a {
  color: white;
  text-decoration: none;
}
#menu > ul > li > a:visited {
  color: white;
}
#menu > ul > li > a:hover {
  color: white;
}
.big-foot{
width: 100%;
height: auto;
margin: auto;
background: #272727;
padding: 20px 0px;

}

.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;

}

.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #bdb76b;
}

.footer-social-icons ul li a{
  color:#272727;
  font-size: 25px;
  display: block;
}

.footer-social-icons ul li a i{
  line-height: 50px;

}

.footer-menu{
  width: 100%;
  height: auto;
  margin:auto;
  margin-top: 20px;
}

.footer-menu ul{
  margin-left: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu ul li a{
  font-family:arial;
  font-size:15px;
  font-weight: 600;
  color:#fff;
  text-transform: uppercase;
}
.big-foot{
width: 100%;
height: auto;
margin: auto;
background: #272727;
padding: 20px 0px;

}

.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;

}

.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #bdb76b;
}

.footer-social-icons ul li a{
  color:#272727;
  font-size: 25px;
  display: block;
}

.footer-social-icons ul li a i{
  line-height: 50px;

}

.footer-menu{
  width: 100%;
  height: auto;
  margin:auto;
  margin-top: 20px;
}

.footer-menu ul{
  margin-left: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu ul li a{
  font-family:arial;
  font-size:15px;
  font-weight: 600;
  color:#fff;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  outline:none;
}


#tekst1 {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
#main > h2 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
#username, #password, #email {
display: block;
width: 360px;
margin: 0 auto;
padding: 10px 5px;
border: 1px solid silver;
outline: 5px solid #ebebeb;
font-size: 13px;
}
#username:focus, #password:focus, #email:focus {
outline: 5px solid #e5f2f8;
}
#logform {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 400px;
height: 304px;
padding: 15px 0 0;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver;
-moz-box-shadow: 0 0 2px silver;
box-shadow: 0 0 2px silver;
}
#regform {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 400px;
height: 400px;
padding: 15px 0 0;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver;
-moz-box-shadow: 0 0 2px silver;
box-shadow: 0 0 2px silver;
}
form {
margin: 0;
}

#usr, #pasw, #chckb {
display: block;
width: 260px;
padding: 10px 20px;
color: #696969;
font-size: 16px;
text-shadow: 0 0 1px silver;
}
#lower {
background: #ecf2f5;
width: 360px;
padding: 5px 20px;
margin-top: 20px;
height: 103px;
}


.lgbutton {
left: 2px;
width: 70px;
padding: 5px 13px;
border: 1px solid #005f85;
color: white;
text-shadow: 0 0 1px black;
background: #98c9dc;
position: relative;
left: 180px;
}
.regbutton {
left: 2px;
width: 80px;
padding: 5px 13px;
border: 1px solid #005f85;
color: white;
text-shadow: 0 0 1px black;
background: #98c9dc;
position: relative;
left: 145px;
}
#hiddenrad, #lpytan, #pytanie, #zdjecie {
    display: none;
}
